#dslc-content{
  height: 100%;
}
#dslc-header.dslc-header-pos-fixed {
  z-index: 500 !important;
}
.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker__input-container{
  width: 100%;
}
.rc-dp-input{
  width: 100%;
}